[user]
  email = zach.queal@gmail.com
  name  = Zach Q

[url "https://github.com/"]
  insteadOf = gh:

[url "https://gist.github.com/"]
  insteadOf = gist:

[url "https://bitbucket.org/"]
  insteadOf = bb:

[url "https://aur.archlinux.org/"]
  insteadOf = aur:

[url "https://git.suckless.org/"]
  insteadOf = sl:
