chromium/
pulse/
xfce4/
gtk-3.0/
gsimplecal/
vim-devicons/

config/.config/libfm/libfm.conf
config/.config/transmission-remote-gtk/config.json
config/.config/nnn/.history
config/.config/jesseduffield/lazygit/state.yml